body {
    font-family: sans-serif;
    font-size: 13px;
}

h1,
h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: 1.05em;
}

.hidden {
    display: none;
}

.pull-right {
    float: right;
}

a img {
    border: 0px;
}

#sidebar {
    width: 305px;
    float: left;
}

#map {
    left: 320px;
    right: 0px;
    top: 0px;
    position: absolute;
    bottom: 0px;
    border: 1px solid black;
}

input {
    border: 1px solid #ccc;
}

input.check {
    width: 15px !important;
}

#comment {
    padding-left: 2px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

#comment textarea {
    width: 300px;
    height: 50px;
}

.zebra tr:nth-child(odd) td {
    background-color: #f6f6f6;
}

.button {
    background-color: #eee;
    border: 1px solid #aaa;
    margin: 1px;
    padding: 1px 2px;
    cursor: pointer;
}

fieldset.settings {
    border: 1px solid black;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset.settings label {
    width: 120px;
    float: left;
    clear: left;
}

fieldset.settings input {
    text-align: right;
    width: 40px;
    margin-bottom: 2px;
}

fieldset.settings input.wide {
    text-align: left;
    width: 130px;
}

fieldset.settings input.submit {
    text-align: left;
    width: auto;
    cursor: pointer;
}

fieldset.settings select#overlay {
    width: 130px;
}

#disclaimer {
    color: #888;
    font-size: 10px;
}

#disclaimer h5 {
    margin-bottom: 0;
}

#page-about {
    max-width: 1000px;
}

#page-about img {
    margin-left: 5px;
}

#page-about #metainfo {
    font-size: 10px;
    margin-top: 20px;
    max-width: 480px;
    background-color: #eee;
    padding: 2px 8px;
}


/*
 * Color picker
 */

.jColorSelect {
    overflow: hidden;
    /* for IE6 */
    border: 1px solid #d9dcdd;
}

.jColorSelect div {
    background: url('syronex-colorpicker.gif') no-repeat;
    float: left;
    width: 13px;
    height: 13px;
    cursor: pointer;
    overflow: hidden;
    /* for IE6 */
    border: 1px solid #666666;
    margin: 1px;
}

.jColorSelect .checkwht {
    cursor: default;
    background-position: -13px 0;
}

.jColorSelect .checkblk {
    cursor: default;
    background-position: -26px 0;
}


/* notify with jquery.showMessage.js */

.notifySuccess {
    font-family: Arial, Helvetica, clean, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: #acfa58;
    color: black;
    border-bottom: 2px solid #888;
}

.notifyFailure {
    font-family: Arial, Helvetica, clean, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: #fe2e2e;
    color: white;
    border-bottom: 2px solid black;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin-left: 25px;
    margin-bottom: 10px;
}